[all:vars]
ansible_ssh_private_key_file=/etc/ansible/inventory/{{ project_name }}/.ssh/id-{{ project_name }}-ansible.rsa

[all]
node1    ansible_host={{ lookup('env','NODE1') }} ip={{ lookup('env','NODE1') }}
node2    ansible_host={{ lookup('env','NODE2') }} ip={{ lookup('env','NODE2') }}
node3    ansible_host={{ lookup('env','NODE3') }} ip={{ lookup('env','NODE3') }}
node4    ansible_host={{ lookup('env','NODE4') }} ip={{ lookup('env','NODE4') }}
node5    ansible_host={{ lookup('env','NODE5') }} ip={{ lookup('env','NODE5') }}
node6    ansible_host={{ lookup('env','NODE6') }} ip={{ lookup('env','NODE6') }}

[kube-master]
node1
node2
node3

[etcd]
node1
node2
node3

[kube-node]
node4
node5
node6

[k8s-cluster:children]
kube-master
kube-node
