TYPE=Ethernet
BOOTPROTO=static
NAME=eth0
DEVICE=eth0
ONBOOT=yes
IPADDR="{{ ansible_default_ipv4.address }}"
NETMASK="{{ ansible_default_ipv4.netmask }}"
GATEWAY="{{ ansible_default_ipv4.gateway }}"
DNS1={{ dns_nameserver1 }}
DOMAIN={{ dns_private_domain }}
